<mat-toolbar color= "primary" >
<mat-toolbar-row>
<button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button> 
<button mat-button ><mat-icon>home</mat-icon> Home</button> 
</mat-toolbar-row>

</mat-toolbar>
 <mat-sidenav-container>
<mat-sidenav [(opened)]="opened" mode="side"> 
  <mat-list role="list">
  <mat-list-item > 
    <a routerLink="/contract-overview"><mat-icon class="icon">content_paste_search</mat-icon>Contract Overview</a> 
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item > 
    <a routerLink="/customer"><mat-icon class="icon">person</mat-icon> Customer</a> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item > 
    <a routerLink="/vehicle"><mat-icon class="icon">directions_car</mat-icon> Vehicle</a> </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
   <a routerLink="/leasing-contract"><mat-icon class="icon">note_alt</mat-icon> Leasing Contract</a> </mat-list-item>
</mat-list>
 </mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content> 
</mat-sidenav-container>
